SECRET_KEY='ваш секретный ключ'

DEBUG='True или False'

NAME='название БД'
USER='имя пользователя'
PASSWORD='пароль'
HOST='хост'
PORT='порт'

EMAIL_HOST_USER='почта с которой будет осуществлена отправка'
EMAIL_HOST_PASSWORD='код который дается в лк яндекса'