<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="categoryDropdown"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Категории
    </a>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
        {% for category in categories %}
            <li>
                <a class="dropdown-item"
                   href="{% url 'catalog:category-products' category.pk %}">
                   {{ category.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>