{% extends 'catalog/base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="row g-0">
        <div class="col-md-5">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.title }}">
            {% else %}
                <img src="/static/images/no-image.jpg" class="img-fluid rounded-start" alt="Нет изображения">
            {% endif %}
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h2 class="card-title mb-3 text-primary">{{ product.title }}</h2>
                <p class="card-text">{{ product.description|default:"Описание отсутствует" }}</p>
                <p class="h5 text-success mb-3">Цена: {{ product.price }} ₽ / шт.</p>
                <p class="text-muted">Категория: {{ product.category.title }}</p>
                <a href="/catalog/" class="btn btn-outline-primary mt-3">← Назад к каталогу</a>
                <a href="{% url 'catalog:product-update' product.pk %}" class="btn btn-outline-primary mt-3">Редактировать</a>
                <a href="{% url 'catalog:product-delete' product.pk %}" class="btn btn-outline-primary mt-3">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
